@import '~bootstrap/scss/bootstrap';
$primaryColor: #e12026;
$secondaryColor: #161819;
$thirdColor: #e2d9c6;
$fourthColor: #2b38e8;

// ############  MISC  ##############

Container {
  border-radius: 25%;
}
i {
  color: $fourthColor !important;
}
img {
  background-size: cover;
}
.bgColor {
  background-color: $secondaryColor;
}
.beigeBg {
  background-color: $thirdColor !important;
}
.redBg {
  background-color: $primaryColor;
}
.darkText {
  color: $secondaryColor;
}
.blueText {
  color: $fourthColor;
}

.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: auto;
  text-align: center;
}
.beigeText {
  color: $thirdColor;
}
.redText {
  color: $primaryColor;
}

// ############  NAVBAR  ##############
.navClass {
  background-color: $secondaryColor !important;
  color: #e12026 !important;
  height: 10vh !important;
}
.navText {
  color: #e12026 !important;
}
.navToggler {
  border: #e12026 !important;
}

// ############  HOME  ##############
.homeDiv {
  height: 100vh;
}
.homeMainContent {
  padding-top: 20vh;
}
.homeBackDiv {
  z-index: -1;
  height: 70vh;
}
